<ion-header>

  <ion-navbar>
    <ion-input placeholder="Pesquisar..." type="search" [(ngModel)]="searchQuery" (ionChange)="onSearch()"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="clearSearch()" *ngIf="searchQuery.length>0">
        <ion-icon md="md-close" ios="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let item of items" (click)="openDetail(item)">
        <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}"/>
        <ion-card-content>
          <ion-card-title>
            {{item.title.rendered}}
          </ion-card-title>
          <ion-row>
            <ion-badge color="second">
              {{api.getCatName2(item.categoria_feminino[0])}}
            </ion-badge>
            <ion-badge color="light">
              <ion-icon name="time"></ion-icon>  
              {{item.date | date: "dd.MM.yyyy / hh:mm"}}
            </ion-badge>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div *ngIf="isLoading" text-center padding>
        <ion-spinner></ion-spinner>
      </div>
      <button *ngIf="showLoadMore" ion-button full (click)="getPosts()">Veja mais</button>
</ion-content>
