

<ion-toolbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Loreninha Consultora
    </ion-title>
    
  </ion-toolbar>

<ion-content>
  
  <div *ngFor="let item of items">

    <ion-slides pager *ngIf="!item.acf.banner_um == 0">
        <ion-slide>
          <img src="{{item.acf.banner_um}}" alt="">
        </ion-slide>
        <ion-slide *ngIf="!item.acf.banner_dois == 0">
          <img src="{{item.acf.banner_dois}}" alt="">
        </ion-slide>
        <ion-slide *ngIf="!item.acf.banner_tres == 0">
          <img src="{{item.acf.banner_tres}}" alt="">
        </ion-slide>
      </ion-slides>
    

  </div>

  <div *ngIf="isLoading" text-center padding>
      <ion-spinner></ion-spinner>
    </div>

 
</ion-content>
